:root {
  --vp-c-brand: #8C82EF !important;
  --vp-c-brand-dark: #91A0F2 !important;
  --vp-button-brand-border: #818cf8 !important;
  --vp-button-brand-hover-bg: #91A0F2 !important;
  --vp-button-brand-hover-border: transparent !important;
  --vp-sidebar-width: 280px !important;
}

.dark:root {
  --vp-c-brand: #91A0F2 !important;
  --vp-button-brand-hover-bg: #818cf8 !important;
}

/* TODO: support @apply */

/* div[class*='language-'][class*='with-filename'] {
  @apply relative pt-6;
}

div[class*='language-'] .code-block-filename {
  @apply absolute top-0 left-0 py-1 px-2 text-xs text-gray-500  rounded-br;
} */

div[class*='language-'][class*='with-filename'] {
  position: relative;
  padding-top: 1.5rem;
}

div[class*='language-'] .code-block-filename {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #E5E7EB;
  color: #6B7280;
  font-size: 0.75rem;
  line-height: 1rem;
  border-bottom-right-radius: 0.25rem;
}

.dark div[class*='language-'] .code-block-filename {
  color: rgba(156, 163, 175, 1);
  background-color: #282828;
}

div[class*='language-'] .lang {
  display: none;
}
